<%- include("partials/header.ejs") %>

<form action="/create" method="POST">
    <input type="text" name="title" placeholder="Title">
    <input type="text" name="author" placeholder="Author">
    <input type="text" name="content" placeholder="Please write your post here ...">
    <input type="submit" value="OK">
</form>


<%- include("partials/footer.ejs") %>